       
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>


<form action="/sellers/edit/<%= id_seller %>" method="POST" name="form1">
    <table width="25%" border="0">
        <tr> 
            <td>Name</td>
            <td><input type="text" name="name" id="name" value="<%= name %>" /></td>
        </tr>
        <tr> 
            <td>Lastname</td>
            <td><input type="text" name="lastname" value="<%= lastname %>" /></td>
        </tr>
        <tr> 
            <td>City</td>
            <td><input type="text" name="city" value="<%= city %>" /></td>
        </tr>
        <tr> 
            <td>State</td>
            <td><input type="text" name="state" value="<%= state %>" /></td>
        </tr>
        <tr> 
            <td><input type="submit" name="Submit" value="Guardar" /></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT" />
</form>
