<!-- Esta es la pag principal de los vendedores, donde se verá todo lo que puedan hacer -->

<%- include ../layouts/header.ejs %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<% if (sellerfullname) { %>
<p align="right"> 
    Hola <%= sellerfullname %><br>
    <a href="/"><input type="button" value="Cerrar sesión" /></a>
    </p>
<% } %>
<center>
<div id="catalogoClientes">
  <%- include ../customer/list.ejs %>
</div>
<br>
<div id="catalogoVehiculos" >
  <%- include ../vehicle/list.ejs %>
</div>

<%- include ../layouts/footer.ejs %>