<!-- Esta es la pag principal de los vendedores, donde se verá todo lo que puedan hacer -->

<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<% if (sellerfullname) { %>
<p align="right"> 
	<table>
        <tr><td rowspan="2"><label style="line-height: 15px;">Hola, <%= sellerfullname %><br>
        	 <i><%= nombre_sucursal %></i></td>
            <td><a href="/"><input type="button" class="logout" value="Salir" /></a></td>
        </tr>
    </table>
</p>
</div>
<% } %>

<center>
<a style="line-height: 160px;">&nbsp;</a>
<%- include ../customer/list.ejs %>
<br><br><br>
<h3 class="subtitulo"> VEHÍCULOS DE SUCURSAL </h3>
<br><br>
<iframe src="" width="1000px;" id="stockSucursalActual" onload="resizeIframe(this)"></iframe>
<br><br>

<% if (sucursales) { %>

		Consultar en

		<select onchange="stockDeSucursal(this)">
		    <option value="none">-- Sucursal --</option>
		    <%	sucursales.forEach(function(sucursal){ %>
		    	<% if (sucursal.name_office != nombre_sucursal) { %>
			    <option value="<%= sucursal.id_office %>"> 
			    	<%= sucursal.name_office %>
			    </option>
			    <% } %>
		    <% }) %>
		</select>

<% } %> 

<iframe src="" width="1000px;"  id="stockSucursalesV" onload="resizeIframe(this)" style="display: none;"></iframe>


<input type="hidden" id="oficina" class="<%= id_office %>">
<script>
function stockDeSucursal(sucursal){
	var stock = document.getElementById('stockSucursalesV')
	
	if (sucursal.value != "none") {
		stock.src = "/stocks/" +sucursal.value+"/o"
		stock.style.display = "block";
	} else {
		stock.style.display = "none";
	}
}

window.onload = function(){
	document.getElementById('stockSucursalActual').src = "/stocks/" + document.getElementById('oficina').className + "/o";  
}

function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
 }
</script>

<%- include ../layouts/footer.ejs %>