<!--
Este archivo carga la lista de todos los clientes de dicho vendedor
-->

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %> 

<h3> Lista de vendedores </h3>

<button id="myBtn"> Agregar nuevo vendedor </button>

<form method="post" action="">
    <input type="text" name="n" placeholder="Nombre del cliente" />
    <input type="button" name="buscar" value="Buscar" />
</form>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe src="/customers/add/<%= id____ %>" width="450px;" height="500px;"></iframe>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<table width='80%' border=0>
    <tr style='text-align:left; background-color:#CCC'>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Oficina</th>
    </tr>
    
<% if (data) { %>
    <% data.forEach(function(seller){ %>
        <tr>
            <td><%= seller.name + " " + seller.lastname%></td>
            <td><%= seller.phone %></td>
            <td><%= seller.address %></td>
            <td> 
                <div style="float:left">
                    <a href="/sellers/edit/<%= seller.id_seller %>">Edit</a> &nbsp;

                    <form method="post" action="/seller/delete/<%= seller.id_seller %>" style="float:right">
                        <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>
 
</table>
 