<!--
Este archivo carga la lista de todos los clientes de dicho vendedor
-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

<div id="agregarVendNuevo" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogos()">&times;</span>
    <iframe src="/sellers/add/<%= id_office_manager %>" width="400px;" height="370px;"></iframe>
  </div>
</div>

<div id="editarVendedorExistente" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogos()">&times;</span>
    <iframe src="" width="400px;" height="300px;" id="frameEditar"></iframe>
  </div>
</div>

<center>
<h3 class="subtitulo"> VENDEDORES </h3>
<button class="agregar" id="nuevoVen"> Agregar vendedor</button>
<br><br>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %> 

<% if (data) { %>
    <% data.forEach(function(seller){ %>
        <div class="lista"  border=0>
            <table class="fit"> <tr><td>
                <button class="verCliente" onclick="alerta(this)" id="editar<%= seller.id_seller %>" value="<%= seller.id_seller %>" > <%= seller.name + " " + seller.lastname%> </button><br>
            Contacto: <%= seller.phone %><br>
            Dirección: <%= seller.address %><br>

        </td></tr></table>
        </div>
    <% }) %>
    <% } else { %>
        <h4> No hay clientes </h4>
    <% }%> 
</table>
</center>
 <script>
// Get the modal
var editarCliente = document.getElementById('editarVendedorExistente');
var agregarVendedor = document.getElementById('agregarVendNuevo');
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var agregarV = document.getElementById("nuevoVen");

    // When the user clicks the button, open the agregarVSG 
agregarV.onclick = function() {
    agregarVendedor.style.display = "block";
}

function alerta(cliente) {
    if (cliente.className === 'verCliente'){
        var iframe = document.getElementById('frameEditar')
        iframe.src = "/sellers/edit/" + cliente.value;
        editarCliente.style.display = "block"
    }
}

function cerrarDialogos(){
    editarCliente.style.display = "none";
    agregarVendedor.style.display = "none";
}

</script>
 