<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<% if (globalmanfullname) { %>
    <div id="hd" style="float: right;"> 
        <table>
            <tr><td><label class="bienvenida">Hola, <%= globalmanfullname %></label><br>
                <a href="/"><input type="button" class="logout" value="Salir" /></a></td>
            </tr>
    </table>
    </div>
</div>
<% } %>
</div>
<br>
<center>
<p style="margin:80px;">&nbsp;</p>
<div id="nuevaSucursal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="/offices/add/<%= id_global_manager %>/<%= state %>" id="frameNuevo" width="450px;" height="500px;"></iframe>
  </div>
</div>

<div id="nuevoGerente" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="offices_managers/add/<%= id_global_manager %>" id="frameNuevoGerente" width="450px;" height="500px;"></iframe>
  </div>
</div>


<h3 class="subtitulo"> SUCURSALES </h3>
<button class="agregar" id="nuevaSuc"> Agregar sucursal</button>
<button class="agregar" id="nuevoGer"> Agregar gerente </button>
<br><br>
<%- include ../office/list.ejs %>
<br><br>
<%- include stockglobal.ejs %>
<br><br>
<h3 class="subtitulo"> VEHICULOS DE SUCURSAL </h3>

<% if (data) { %>

Ver stock de 
    <select class="seleccion" id="stockSucursal" onchange="cambio()">
    	<option> -- Selecciona una sucursal --</option>
    <% data.forEach(function(sucursal) { %>
    	<option value="<%= sucursal.id_office %>"><%= sucursal.name_office %></option>	
    <% }) %>
    </select>

<% } %>
<br><br>
<iframe id="frameStockSucursal" width="900px;" onload="resizeIframe(this)" frameBorder="0" style="display: none;">
    
</iframe>

<br><br>


<script>
window.onload = function() {
    //document.body.style.background = "url('img/nissandesert.jpg') no-repeat center center fixed";
}

function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
 }

function cerrarDialogo(dialogo){
    editarSucursal.style.display = "none";
    nuevaSucursal.style.display = "none";
    nuevoGerente.style.display = "none";
    editarGerente.style.display = "none";
    agregarVSG.style.display = "none";
    editarVSG.style.display = "none";
}

window.onclick = function(event) {

    if (event.target == nuevaSucursal) {
        nuevaSucursal.style.display = "none";
    } else if (event.target == editarSucursal) {
        editarSucursal.style.display = "none";
    } else if (event.target == nuevoGerente) {
        nuevoGerente.style.display = "none";
    } else if (event.target == editarGerente) {
        editarGerente.style.display = "none";
    } else if (event.target == agregarVSG) {
        agregarVSG.style.display = "none";
    } else if (event.target == editarVSG) {
        editarVSG.style.display = "none";
    }
}

function cambio(){
    var id_office = document.getElementById("stockSucursal").value;
    document.getElementById('frameStockSucursal').style.display = "block";
    document.getElementById('frameStockSucursal').src = "/stocks/" + id_office + "/g";
}


</script>

<%- include ../layouts/footer.ejs%>