<h1> <%= title %> </h1>

<link rel="stylesheet" type="text/css" href="/css/style.css" />


<form action="/orders/a/add/<%= id_office %>/<%= id_customer%>/<%= id_seller%>" method="get">
    <input type="submit" value="Nuevo pedido " />
</form>
<br><br>

<% if (data) { %>

<% var listadoNuevo = true; %>
<% var n = data[0].id_order; %>

    <% data.forEach(function(orden){ %>
            <h3> <%= orden.name %></h3><br>
            Estado de orden: <%= orden.payment_status %><br>
            Fecha de emisión: <%= orden.date_at %><br>
            Total a pagar: <%= orden.amount %> <br>
            Restante total: <%= orden.rest_amount %><br><br>
            <%= orden.deposit_amount %> <br>

            
                <% n = orden.id_order; %>
                <% if (orden.rest_amount === 0){ %>
                        <h4> ¡Pagado! </h4>
                <% } else { %>
                    <button  style="float: right" class="<%= orden.id_order %>/2" value="Agregar pago" onclick="cambio(this)"> Agregar pago</button>
                <% } %> 
     
    <% }) %>

<form action="" method="get" id="formPago">
</form>
    
<% } else { %>
    <h4> Sin órdenes </h4>
<% }%>

<script>
    function cambio(orden){
        document.getElementById('formPago').action = "/payments/p/add/" + orden.className;
        document.forms["formPago"].submit();
    }
</script>
<%- include ../layouts/footer.ejs %>