<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

<h1> <%= title %> </h1>

<link rel="stylesheet" type="text/css" href="/css/style.css" />


<form action="/orders/a/add/<%= id_office %>/<%= id_customer%>/<%= id_seller%>" method="get">
    <input type="submit" value="Nuevo pedido " />
</form>
<br><br>

<% if (data) { %>
    <table>
    <% data.forEach(function(pago){ %>
        <tr><td> <%= pago.name %></td></tr>

        <tr> 
            <td> Estado de orden: <%= pago.payment_status %></td>
            <td> Fecha de emisión: <%= pago.date_at %></td>
        </tr>
        <tr>
            <td> Total a pagar: <%= pago.amount %> </td>
            <td> Restante total: <%= pago.rest_amount %></td>
            <td> <%= pago.deposit_amount %> </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    <% }) %>
    </table>
    
<form action="" method="get" id="formPago">
</form>
    
<% } else {%>
    <h4> Sin órdenes </h4>
<% }%>

<script>
    function cambio(orden){
        document.getElementById('formPago').action = "/payments/p/add/" + orden.className;
        document.forms["formPago"].submit();
    }
</script>
<%- include ../layouts/footer.ejs %>