<%- include ../layouts/header.ejs %>

<link rel="stylesheet" type="text/css" href="/css/style.css" />

<button> Nueva orden </button>

<h3> Historial </h3>

<% if (data) { %>

<!-- Diferenciar múltliples id_order-->
<table width="100%" border="0" >
    <tr style='text-align:left; background-color:#CCC; font-weight: bold;'> 
        <td>Vehículo</td>
        <td>Fecha</td>
        <td>A pagar</td>
        <td>Depósitos</td>
        <td>Restante </td>
        <td>Estado de vehículo</td>
    </tr>
    <% data.forEach(function(order){ %>  
    <tr> 
        <td> <%= order.model %> </td>
        <td> <%= order.date_at %></td>
        <td> <%= order.amount %> </td>
        <td> <%= order.deposit %> </td>
        <td> <%= order.rest_amount %> </td>
        <td> <%= order.payment_status %> </td>
    </tr>

    <% }) %>
    </table>
    <% } else { %>
        <h4> Sin ordenes </h4>
    <% }%>
</table>

<%- include ../layouts/footer.ejs %>