<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<center>
<h2> Ingrese los datos del lote </h2>
<form action="/vehicles/s/add" method="post" name="form1">
    <table width="70%" border="0">
        <td>Modelo</td>
            <td><input type="text" name="modelo" value="<%= modelo %>" /></td>
        </tr>
        <tr> 
            <td>Detalles</td>
            <td><input type="text" name="detalles" value="<%= detalles %>" /></td>
        </tr>
        <tr> 
            <td>Costo</td>
            <td><input type="text" name="costo" value="<%= costo %>" /></td>
        </tr>
        <tr> 
            <td>Cantidad inicial</td>
            <td><input type="text" name="cantidad" value="<%= cantidad %>" /></td>
        </tr>
    </table>
    <br><br>
    <input type="submit" name="Submit" value="Agregar" />
</form>
 