<!--
including header content which is common for all pages
-->

<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<center>
<h2> Ingrese los datos del gerente </h2><br>
<form action="/offices_managers/add/<%= id_global_manager %>" method="post" name="form1">
    <table width="60%" border="0">
        <tr> 
            <td>Nombre</td>
            <td><input type="text" name="name" id="name" value="<%= name %>" /></td>
        </tr>
        <tr> 
            <td>Apellido(s)</td>
            <td><input type="text" name="lastname" value="<%= lastname %>" /></td>
        </tr>
        <tr> 
            <td>Teléfono</td>
            <td><input type="text" name="phone" value="<%= phone %>" /></td>
        </tr>
        <tr> 
            <td>Dirección</td>
            <td><input type="text" name="address" value="<%= address %>" /></td>
        </tr>
        <tr> 
            <td>Municipio</td>
            <td><input type="text" name="city" value="<%= city %>" /></td>
        </tr>
        <tr> 
            <td>Estado</td>
            <td><input type="text" name="state" value="<%= state %>" /></td>
        </tr>

        <tr> 
            <td>Código postal</td>
            <td><input type="text" name="postal_code" value="<%= postal_code %>" /></td>
        </tr>
        <tr> 
            <td>País</td>
            <td><input type="text" name="country" value="<%= country %>" /></td>
        <tr>
        <tr></tr>
            <td colspan="2" align="center"><h3>Datos de la sesión</h3></td>
        </tr>
        <tr> 
            <td>Email</td>
            <td><input type="text" name="email" value="<%= email %>" /></td>
        </tr>
        <tr> 
            <td>Usuario</td>
            <td><input type="text" name="username" value="<%= username %>" /></td>
        </tr>
        <tr> 
            <td>Contraseña</td>
            <td><input type="password" name="password" value="<%= password %>" /></td>
        </tr>
        <tr> 
            <td colspan="2" align="center"><input type="submit" name="Submit" value="Agregar" /></td>
        </tr>
    </table>
</form>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>