<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<% if (officemanfullname) { %>
<p align="right">
    <table>
        <tr><td><label class="bienvenida">Hola, <%= officemanfullname %></label></td>
            <td><a href="/"><input type="button" class="logout" value="Salir" /></a></td>
        </tr>
    </table>
</p>
</div>
<center>

<br><br>
<!-- Reporte de ventas -->
<%- include ../report/localSalesRep.ejs %>
<br><br>
<%- include stockList.ejs %>
<% } else { %>
	<center> <h3> Aún no estás asignado a una sucursal </h3>
<% } %>

<%-include ../layouts/footer.ejs %>