<link rel="stylesheet" type="text/css" href="/css/style.css" />


<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    

<div id="editarVehiculoStock" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 300px;">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" id="frameEditarStock" width="250px;" height="200px;"></iframe>
  </div>
</div>

<div id="agregarLote" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 510px;">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" id="frameAgregarLote" width="500px;" height="230px;"></iframe>
  </div>
</div>

<center>

<% if (stock.length > 0) { %>
    <table width="55%" class="lista" >
        
        <% stock.forEach(function(stock){ %>
            <tr>
                <td width="60%"> <label class="nombrePrincipal"><%= stock.model %></label> </td>
                <td><label class="cantidadVehiculos"> Disponibles: <%= stock.cantidadStock %></label></td>
            </tr>
            <tr><td>Descripción: <%=stock.details%> </td></tr>
            <tr><td><label class="costo">Costo: $ <%= stock.cost %> </label></td></tr>
            <tr><td>&nbsp;</td></tr>
        <% }) %>
        
    </table>
<% } else { %>
    <h3>Sin vehículos disponibles</h3>
<% }%> 
<script>
// Get the modal
var editarVehicStock = document.getElementById('editarVehiculoStock');
var agregarLoteSuc = document.getElementById('agregarLote')

var span = document.getElementsByClassName("close")[0];

function cerrarDialogo(){
    editarVehicStock.style.display = "none";
    agregarLoteSuc.style.display = "none";
}

function editarVehiculo(vehiculoStock) {
    var iframe = document.getElementById('frameEditarStock')
    iframe.src = "/stocks/edit/" + vehiculoStock.value;
    editarVehicStock.style.display = "block"
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == editarVehicStock) {
        editarVehicStock.style.display = "none";
    }
    if (event.target == agregarLoteSuc) {
        agregarLoteSuc.style.display = "none";
    }
}
</script>