<link rel="stylesheet" type="text/css" href="/css/style.css" />

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    

<div id="editarVehiculoStock" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 300px;">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" id="frameEditarStock" width="250px;" height="200px;"></iframe>
  </div>
</div>

<div id="agregarLote" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 510px;">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" id="frameAgregarLote" width="500px;" height="230px;"></iframe>
  </div>
</div>
<center>

<table width='80%' border=0>
    <tr style='text-align:left; background-color:#CCC'>
        
        <th>Nombre</th>
        <th>Detalles</th>
        <th>Costo</th>
        <th>Cantidad en sucursal</th>
    </tr>

    <% if (data) { %>
    <% data.forEach(function(stock){ %>
        <tr>
            
            <td><%= stock.model %></td>
            <td><%= stock.details%></td>
            <td><%= stock.cost %></td>
            <td><%= stock.cant %></td>
        </tr>
    <% }) %>
    <% } %> 
</table>
<br><br>

Agregar lote de 
<select id="agregarAutoSucursal" onchange="agregarLoteASucursal(this)">
    <% if (stockGlobal) { %>
        <% stockGlobal.forEach(function(auto){ %>
            <option value="<%= auto.id_vehicle%>/<%= auto.cantidadTotal %>/<%= data[0].id_office %>" id="<%= auto.id_vehicle %>"><%= auto.model %> </option>
        <% }) %>
    <% } %> 
</select>

<script>
// Get the modal
var editarVehicStock = document.getElementById('editarVehiculoStock');
var agregarLoteSuc = document.getElementById('agregarLote')

var span = document.getElementsByClassName("close")[0];

function cerrarDialogo(){
    editarVehicStock.style.display = "none";
    agregarLoteSuc.style.display = "none";
}

function editarVehiculo(vehiculoStock) {
    var iframe = document.getElementById('frameEditarStock')
    iframe.src = "/stocks/edit/" + vehiculoStock.value;
    editarVehicStock.style.display = "block"
}

function agregarLoteASucursal(vehiculo){
    document.getElementById('frameAgregarLote').src = "/stocks/add/" + vehiculo.value;
    agregarLoteSuc.style.display = "block"
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == editarVehicStock) {
        editarVehicStock.style.display = "none";
    }
    if (event.target == agregarLoteSuc) {
        agregarLoteSuc.style.display = "none";
    }
}
</script>