
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 <center>
<form method="post" action="/customers/delete/<%= id_customer %>" style="float:left">
    <input type="submit" name="delete" value='Eliminar' onClick="return confirm('Are you sure you want to delete?')" />
    <input type="hidden" name="_method" value="DELETE" />
</form><br>

<h2> Datos del cliente</h2>

<form action="/customers/edit/<%= id_customer %>" method="POST" name="form1">
    <table width="35%" border="0" >
        <tr> 
            <td>Nombre</td>
            <td><input type="text" name="name" id="name" value="<%= name%>" /></td>
            <td><input type="text" name="lastname" id="lastname" value="<%= lastname%>" /></td>
        </tr>
        
        <tr> 
            <td>Teléfono</td>
            <td><input type="text" name="phone" value="<%= phone %>" /></td>
        </tr>
        <tr> 
            <td>Dirección</td>
            <td><input type="text" name="address" value="<%= address %>" /></td>
        </tr>
        <tr> 
            <td>Código postal</td>
            <td><input type="text" name="postal_code" value="<%= postal_code %>" /></td>
        </tr>
        <tr> 
            <td>Ciudad</td>
            <td><input type="text" name="city" value="<%= city %>" /></td>
        </tr>
        <tr> 
            <td>Estado</td>
            <td><input type="text" name="state" value="<%= state %>" /></td>
        </tr>
        
        <tr> 
            <td>País</td>
            <td><input type="text" name="country" value="<%= country %>" /></td>
        </tr>
        <tr> 
            <td colspan="3" align="center"><input type="submit" name="Submit" value="Guardar" /></td>
        </tr>
    </table>
    <br>
<input type="hidden" name="_method" value="PUT" />
</form>
