<!--
Este archivo carga la lista de todos los clientes de dicho vendedor
-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<div id="agregarClienteNuevo" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogos()">&times;</span>
    <iframe src="/customers/add/<%= id_seller %>" width="450px;" height="500px;"></iframe>
  </div>
</div>

<div id="editarClienteExistente" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogos()">&times;</span>
    <iframe src="" width="450px;" height="500px;" id="frameEditar"></iframe>
  </div>
</div>

<div id="verPedidos" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 800px;">
    <span class="close" onclick="cerrarDialogos()">&times;</span>
    <iframe src="" width="780px;" height="500px;" id="framePedidos"></iframe>
  </div>
</div>

<h3> Catálogo de clientes </h3>
<button class="agregar" id="nuevo"> Agregar cliente</button>
<br><br>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %> 



<% if (data) { %>
<table width='50%' class="lista" border=0>
    <% data.forEach(function(customer){ %>
        <tr>
            

            <td width="100%"><label class="nombrePrincipal"><%= customer.name + " " + customer.lastname%> </label>
                 <button class="edit" onclick="alerta(this)" id="editar<%= customer.id_customer %>" value="<%= customer.id_customer %>" ></button>
                 <button style="float:right" class="order" onclick="alerta(this)" id="<%= customer.id_customer %>" value="<%= customer.id_customer %>" > Ver pedidos</button>
            </td>
        </tr>
        <tr>
            <td>Contacto: <%= customer.phone %> <br>
                Dirección: <%= customer.address %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    <% }) %>
    <% } else { %>
        <h4> No hay clientes </h4>
    <% }%> 
</table>

<input type="hidden" id="idseller" value="<%= id_seller %>" />
 <script>
// Get the modal
var agregarCliente = document.getElementById('agregarClienteNuevo');
var editarCliente = document.getElementById('editarClienteExistente');
var verPedidos = document.getElementById('verPedidos');

// Get the button that opens the modal
var agregar = document.getElementById("nuevo");
var editar = document.getElementById("editar");


// When the user clicks the button, open the modal 
agregar.onclick = function() {
    agregarCliente.style.display = "block";
}

function alerta(cliente) {
    if (cliente.className === 'edit'){
        var iframe = document.getElementById('frameEditar')
        iframe.src = "/customers/edit/" + cliente.value;
        editarCliente.style.display = "block"
    } else if (cliente.className === 'order'){
        var iframe = document.getElementById('framePedidos')
        iframe.src = "/orders/" + cliente.value + "/" + document.getElementById('oficina').className + "/" + document.getElementById('idseller').value;
        verPedidos.style.display = "block"
    }
}

function cerrarDialogos(){
    verPedidos.style.display = "none"
    editarCliente.style.display = "none";
    agregarCliente.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == agregarCliente) {
        agregarCliente.style.display = "none";
    }
    if (event.target == editarCliente) {
        editarCliente.style.display = "none";
    }
    if (event.target == verPedidos) {
        verPedidos.style.display = "none";
    }
} 
</script>