<!--
Este archivo carga la lista de todos los clientes de dicho vendedor
-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="/customers/add/<%= id_seller %>" width="450px;" height="500px;"></iframe>
  </div>
</div>

<div id="otherModal" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" width="450px;" height="500px;" id="frameEditar"></iframe>
  </div>
</div>

<div id="anotherModal" class="modal" >
  <!-- Modal content -->
  <div class="modal-content" style="width: 1050px;">
    <span class="close" onclick="cerrarDialogo()">&times;</span>
    <iframe src="" width="1020px;" height="500px;" id="framePedidos"></iframe>
  </div>
</div>

<br>
<button id="nuevo"> Agregar cliente</button>
<input type="text" id="nombre" placeholder="Nombre del cliente" />
<button id="busqueda"> Buscar </button>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %> 

<h3> Catálogo de clientes </h3>

<% if (data) { %>
<table width='80%' border=0>
    <tr style='text-align:left; background-color:#CCC'>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
    </tr>
    <% data.forEach(function(customer){ %>
        <tr>
            <td><%= customer.name + " " + customer.lastname%></td>
            <td><%= customer.phone %></td>
            <td><%= customer.address %></td>
            <td> 
                <div style="float:left">
                    <!--<a href="/customers/edit/<%= customer.id_customer %>">Edit</a> &nbsp;-->
                    <button class="edit" onclick="alerta(this)" id="editar<%= customer.id_customer %>" value="<%= customer.id_customer %>" > Ver cliente</button>
                    <button class="order" onclick="alerta(this)" id="<%= customer.id_customer %>" value="<%= customer.id_customer %>" > Ver pedidos</button>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } else { %>
        <h4> No hay clientes </h4>
    <% }%> 
</table>

 <script>
// Get the modal
var modal = document.getElementById('myModal');
var otherModal = document.getElementById('otherModal');

// Get the button that opens the modal
var agregar = document.getElementById("nuevo");
var editar = document.getElementById("editar");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks the button, open the modal 
agregar.onclick = function() {
    modal.style.display = "block";
}

function alerta(cliente) {
    ////////////////////// Ver como evaluar la "class"

    if (cliente.className === 'edit'){
        var iframe = document.getElementById('frameEditar')
        iframe.src = "/customers/edit/" + cliente.value;
        otherModal.style.display = "block"
    } else if (cliente.className === 'order'){
        var iframe = document.getElementById('framePedidos')
        iframe.src = "/orders/" + cliente.value;
        anotherModal.style.display = "block"
    }
}

function cerrarDialogo(){
    anotherModal.style.display = "none"
    otherModal.style.display = "none";
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if (event.target == otherModal) {
        otherModal.style.display = "none";
    }
} 
</script>