<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
<!--
including header content which is common for all pages
-->
 <link rel="stylesheet" type="text/css" href="/css/style.css" />
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 <center>
 <h2> Ingrese los datos de la sucursal nueva </h2>
<form action="" method="post" name="form1">
    <table width="70%" border="0">
        <tr> 
            <td>Nombre</td>
            <td><input type="text" name="name_office" id="name_office" value="<%= name_office %>" /></td>
        </tr>
        <tr> 
            <td>Teléfono</td>
            <td><input type="text" name="phone" value="<%= phone %>" /></td>
        </tr>
        <tr> 
            <td>Dirección</td>
            <td><input type="text" name="address" value="<%= address %>" /></td>
        </tr>
        <tr> 
            <td>Municipio</td>
            <td><input type="text" name="city" value="<%= city %>" /></td>
        </tr>
        <tr> 
            <td>Estado</td>
            <td><input type="text" name="state" value="<%= state %>" /></td>
        </tr>
        <tr> 
            <td>Código postal</td>
            <td><input type="text" name="postal_code" value="<%= postal_code %>" /></td>
        </tr>
        <tr> 
            <td>País</td>
            <td><input type="text" name="country" value="<%= country %>" /></td>
        </tr>
        <tr> 
            <td>Gerente</td>
            <td>
                <select id="gerentes" onchange="cambio()">
                    <option></option>
                    <% if (data) { %>
                        <% data.forEach(function(gerentes) { %>
                            <option value="<%= gerentes.id_office_manager %>"> <%= gerentes.name + " " + gerentes.lastname + " " + "(" + gerentes.city + ")"%></option>
                        <% }) %>
                    <% } %>
                </select>
            </td>
        </tr>
        <tr> 
            <td colspan="2" align="center"><input type="submit" name="Submit" value="Agregar" /></td>
        </tr>
    </table>
    <input type="hidden" id="gerenteGlobal" value="<%= id_global_manager %>" />
</form>

<script>
function cambio(){
    var id_new_officeman = document.getElementById("gerentes").value;
    var id_global_manager = document.getElementById("gerenteGlobal").value;
    document.form1.action = "/offices/addnew/" + id_new_officeman + "/" + id_global_manager;
}
</script>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>