<link rel="stylesheet" type="text/css" href="/css/style.css" />   

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 <center>
 <h2> Datos de la sucursal </h2>
 
<form action="/offices/edit/<%= id_office %>" method="POST" name="form1">
    <table width="25%" border="0">
        <tr> 
            <td>Nombre</td>
            <td><input type="text" name="name_office" id="name_office" value="<%= name_office %>" /></td>
        </tr>
        <tr> 
            <td>Teléfono</td>
            <td><input type="text" name="phone" value="<%= phone %>" /></td>
        </tr>
        <tr> 
            <td>Dirección</td>
            <td><input type="text" name="address" value="<%= address %>" /></td>
        </tr>
        <tr> 
            <td>Municipio</td>
            <td><input type="text" name="city" value="<%= city %>" /></td>
        </tr>
        <tr> 
            <td>Estado</td>
            <td><input type="text" name="state" value="<%= state %>" /></td>
        </tr>
        <tr> 
            <td>Código postal</td>
            <td><input type="text" name="postal_code" value="<%= postal_code %>" /></td>
        </tr>
        <tr> 
            <td>País</td>
            <td><input type="text" name="country" value="<%= country %>" /></td>
        </tr>
        <!--
        <tr> 
            <td>Manager (id)</td>
            <td><input type="hidden" name="id_office_manager" value="<%= id_office_manager %>" /></td>
        </tr>
        -->
        <input type="hidden" name="id_office_manager" value="<%= id_office_manager %>" />
        <tr> 
            <td colspan="2" align="center"><input type="submit" name="Submit" value="Guardar" /></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT" />
</form>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>